//global
$laptopWidth: 768px;
$tabletWidth: 687px;
$phoneWidth: 320px;
$mainFont: Arial;

//colors
$athens-gray: #eeecf1;
$apple: #5ebb46;
$lochmara: #4daaf0;
$lochmara2: #0077d1;
$limed-spruce: #3a4448;
$apple: #5ebb46;
