.banner {
  background: black;
  margin-top: 40px;

  .left {
    width: 70%;

    h4 {
      color: white;
      margin-bottom: 0;
      padding: 20px 45px 11px;
    }

    p {
      color: white;
      font-size: 13px;
      margin: 0;
      padding: 0 45px 20px;

      &+.list {
        padding: 0 100px;
      }
    }
  }
}
