/* Scss Document */

h6{
	color: $lochmara;
	font-size: 100%;

}  
p.imgtext{
	margin-top: -.6em;
	font-size: 87.5%;
}

hr{
	border-top: 1px solid #888;
	border-bottom: 1px solid white;
	margin-top: 1em;
	color: black;
	box-shadow: -6px 6px 30px 1px #222;
}