body {
  background: $athens-gray;
  .wrapper {
    margin: 0 auto;
  }
}

section {
	width: 70%;
	height: auto;
	margin-left: 15%;
}

body .wrapper {
    margin: 0 auto;
    width: 100%;
    height: auto; 
}
.shade {
	width: 100%;
	position: absolute; 
	z-index: -2;
	left: 0;
}

#content{
	margin: auto;
}

